<div class="ig-page">


  <div class="config-layout">
    <!-- Left Sidebar Menu -->
    <div class="config-sidebar ig-section-card" [class.collapsed]="!isSidebarOpen">
      <div class="sidebar-header" (click)="toggleSidebar()">
        <i class="material-icons menu-icon">menu</i>
      </div>
      <ul class="config-menu">
        <ng-container *ngFor="let section of sections">
          <li [class.active]="activeSection === section.name"
              (click)="selectSection(section.name)"
              title="{{section.name}}">
            <i class="material-icons item-icon">{{ section.icon }}</i>
            <span class="item-text" *ngIf="isSidebarOpen">{{ section.name }}</span>
            <i class="material-icons expand-icon" *ngIf="isSidebarOpen && subTabs[section.name]?.length > 0">
              {{ expandedSection === section.name ? 'expand_less' : 'expand_more' }}
            </i>
          </li>
          
          <!-- Sub-menu items -->
          <div class="sub-menu" *ngIf="isSidebarOpen && expandedSection === section.name && subTabs[section.name]?.length > 0">
            <div class="sub-menu-item" 
                 *ngFor="let tab of subTabs[section.name]"
                 [class.active]="activeSubTab === tab"
                 (click)="selectSubTab(tab)">
              {{ tab }}
            </div>
          </div>
        </ng-container>
      </ul>
    </div>

    <!-- Right Content Area -->
    <div class="config-content ig-section-card">
      <div class="content-header">
        <h2 class="section-title">{{ activeSubTab }}</h2>
        
        <!-- Sub-tabs are now handled in the sidebar accordion menu -->
      </div>

      <!-- Tab Content Area -->
      <div class="tab-content">
        <!-- Example Component Placeholders -->
        <div *ngIf="activeSection === 'Company Details' && activeSubTab === 'Vertical'">
          <app-verticals></app-verticals>
        </div>
      </div>
    </div>
  </div>
</div>
