::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-input-element{
    padding-left: 15px !important;
}
::ng-deep .mat-form-field-infix {
    border-bottom: 0.84375em solid transparent;
}

.flex-div div{
    display: flex;
}