<div class="login-card">
  <div class="login-header">
    <img src="assets/img/ADAT.png" class="img-fluid login-logo" alt="Neotronics Logo">
    <div class="version-badge">Version 5</div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <div class="form-group modern-input-group">
      <i class="fa fa-user input-icon"></i>
      <input type="text" class="modern-input" placeholder="Login Name" formControlName="userName" (input)="onFieldInput()" (change)="onFieldInput()" #userNameInput autocomplete="username" />
    </div>

    <div class="form-group modern-input-group">
      <i class="fa fa-lock input-icon"></i>
      <input type="password" class="modern-input" placeholder="Password" formControlName="password" (input)="onFieldInput()" (change)="onFieldInput()" #passwordInput autocomplete="current-password" />
    </div>

    <div class="form-options">
      <label class="custom-checkbox">
        <input type="checkbox" checked>
        <span class="checkmark"></span>
        <span class="checkbox-label">Remember Me</span>
      </label>
    </div>

    <button mat-raised-button type="submit" class="modern-btn-submit" (click)="onLoginClick($event, userNameInput, passwordInput)">
      <span>LOGIN</span>
    </button>
  </form>
</div>