

<div *ngIf="issLoading" class="overlay">
    <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
    </div>
    <div class="main-content mt-0">
    <div class="container-fluid">
    <div class="row" *ngIf="Entry_View">
    <div class="col-md-12">
    <div class="card">
  
    <div class="card-body">
    <form>
    <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 mb-2">
        <label class="col-md-4 label-down-alighn-stk-ad-mstr-prhse-rte">Stock Take Name
           <span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span> </label>   
      <mat-form-field class="col-md-8 margin-lh-rh-to-crect-textbox" style="border: 1px solid lightgrey;
      height: 40px;padding-left: 10px;margin-bottom: 0;">
        <input matInput type="text" [(ngModel)]="Stock_Take_Name_.Stocktakename" name="Stock_Take_Name_.Stocktakename" class="input-text-item-group-diary">
      </mat-form-field>
      </div>
         
      <div class="col-md-12 mb-2">
      <label class="col-md-4 mrgin-alghn-label-text-otrs-nxt">Status <span style="color:#ef071e; font-size: 22px; vertical-align: -webkit-baseline-middle;">*</span> </label>
      <select [(ngModel)]="Status_" name="Status_" style="border: 1px solid lightgrey;
      height: 40px;padding-left: 10px; "  required class="col-md-8 select-box-style-diary">
      <option *ngFor="let Status_M of Status_Data"[ngValue]="Status_M">{{Status_M.Status_Name}}</option>
      </select>
      </div>                      

      <div class="col-md-12 mb-1">
          <label
              class="col-md-4 label-to-crect-all-names-to-divs down-label-name-to-all-sections">Start Date
              <span
              style="color:#ef071e; ">*</span></label>
          <mat-form-field
              class="col-md-8 mrgn-crct-input-text-div-tre-prt-sles1 mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn"
              style="height: 47px !important">
              <input matInput [matDatepicker]="dpdate" placeholder="" name="StartDate"
                  [(ngModel)]="Stock_Take_Name_.StartDate">
              <mat-datepicker-toggle matSuffix [for]="dpdate" ></mat-datepicker-toggle>
              <mat-datepicker #dpdate></mat-datepicker>
          </mat-form-field>
      </div> 

      <div class="col-md-6">
        <button mat-raised-button type="button" [hidden]="Item_Save==false" id="Save_Button"
        class="btn btn-danger pull-right save-close-new-buttons-to-crect"(click)="Save_Stock_Take_Name()">Save</button>
        <button mat-raised-button type="button" class="btn btn-danger pull-right save-close-new-buttons-to-crect" (click)="Close_Click()">Close</button>
       </div>   
    </div>


   

    </div>
    <div class="clearfix"></div>
    </form>
    </div>
    </div>
    </div>
    </div>
    <div class="row" *ngIf="!Entry_View">
            <div class="col-md-12 card-body row mb-2" style="align-items: center; border: 0;
            border-radius: 6px;
            margin-left: 2px;
            color: #333333;
            background: #fff;
            width: 100%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
         ">
             
      
            
              
                    <div class="col-md-3 row" style="align-items: center;">
                
                  
                    <label class="col-md-6   " style="text-align: end;" >Stock Take Name</label> 
                    <mat-form-field class="col-md-6" style="border: 1px solid lightgrey;
                    height: 40px;" > 
                    <input matInput type="text" [(ngModel)]="Stock_Take_Name_Search" name="Stock_Take_Name_Search" >
                   </mat-form-field>
          

                    </div>
               
                    <div class="col-md-3">
                    <button mat-raised-button type="button" (click)="Search_Item()" class="btn btn-danger button-to-crect-margin mt-0">Search</button>  
                    <button mat-raised-button type="button" (click)="Create_New()" class="btn btn-danger button-to-crect-margin mt-0">Create New</button>
                 
                    </div>

                 
                    <div class="clearfix"></div>
             
                  
                 
                    </div>   
   
    <div class="col-md-12">
      <div class="card card-plain" >
        <div class="card-body">
        <div class="table-responsive">
          <cdk-virtual-scroll-viewport [style.height.px]="myInnerHeight" itemSize="90" >
            
              <table class="table table-hover">
                <thead class="thead">
                  <th class="crect-margin-width-table-header-title">
                  Sl No
                  </th>
                  <th>
                  Stock Take Name 
                  </th>
                  <th>
                    Status
                    </th>
                  
                  <th [hidden]="Stock_Take_Name_Edit==false" class="crect-margin-width-table-header-title">
                  Edit
                  </th>
                  <th [hidden]="Stock_Take_Name_Delete==false" class="crect-margin-width-table-header-title">
                  Delete
                  </th>
                </thead>
              <ng-container *cdkVirtualFor="let Item_1 of Stock_Take_Name_Data; let i = index">
                  <tr>  
                    <td style="padding-left:5px;">{{ i+1 }}</td>
                    <td>{{Item_1["Stocktakename"]}}</td>
                    <td>{{Item_1["Status_Name"]}}</td>
                    <td><button _ngcontent-jry-c5="" _ngcontent-gxp-c5="" [hidden]="Item_Edit==false"aria-describedby="cdk-describedby-message-0" cdk-describedby-host="" 
                      class="aligyn-crect-deprtnment btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button" mat-raised-button="" mattooltip="Edit Task" 
                      ng-reflect-message="Edit Task" ng-reflect-position="above" type="button"><span class="mat-button-wrapper"><span _ngcontent-jry-c5="" class="mat-button-wrapper">
                        <i _ngcontent-jry-c5="" _ngcontent-gxp-c5="" class="material-icons" (click)="Edit_Stock_Take_Name(Item_1,i)" >edit</i></span><div _ngcontent-jry-c5="" 
                        class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                        <div _ngcontent-jry-c5="" class="mat-button-focus-overlay"></div></span><div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" 
                        ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay" ></div></button></td>
                    <td><button _ngcontent-gdi-c11="" [hidden]="Stock_Take_Name_Delete==false"class="btn btn-danger btn-link btn-sm btn-just-icon mat-raised-button" mat-raised-button="" 
                      mattooltip="Remove" type="button" aria-describedby="cdk-describedby-message-1" cdk-describedby-host="" ng-reflect-position="above" ng-reflect-message="Remove">
                      <span class="mat-button-wrapper"><i _ngcontent-gdi-c11="" class="material-icons"  (click)="Delete_Item(Item_1.Item_Id,i)" >close</i></span>
                      <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                      <div class="mat-button-focus-overlay"  ></div></button></td> 
                  </tr>
                </ng-container>
          </table>
          </cdk-virtual-scroll-viewport>
        </div>
        </div>
        <label class="entry-num">Entries : {{Total_Entries}}</label>
      </div>
    </div>
    </div>
    </div>
    </div>
    