@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatParticle {
  0% { transform: translateY(0) translateX(0); opacity: 0; }
  10% { opacity: .7; }
  100% { transform: translateY(-105vh) translateX(34px); opacity: 0; }
}

@keyframes waveMove {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

