<div *ngIf="issLoading" class="overlay">
    <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>
<div class="main-content">
    <div class="container-fluid" #topDiv1>
        <div class="row col-md-12  mb-2" *ngIf="!Entry_View">
            <div class="row mb-3 card-body" style="    align-items: center;
            border: 0;
            border-radius: 6px;
            margin-left: 2px;
            color: #333333;
            background: #fff;
            width: 100%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        ">
                
                      
                            
                                <div class="col-md-2 row  " style="align-items: center;">
                                    <label
                                        class=" col-md-6 mb-0 ">Date</label>
                                    <div _ngcontent-xmy-c9="" class=" col-md-6 checkbox-to-crect-sales-search-section">
                                        <div _ngcontent-xmy-c9="" class="form-check ">
                                            <label _ngcontent-xmy-c9="" class="form-check-label" >
                                                <input type='checkbox' class="form-check-input" name="Date_checks"
                                                    [(ngModel)]="Date_Check" />
                                                <span _ngcontent-xmy-c9="" class="form-check-sign" style="left: -23px !important;
    top: -7px !important;"><span
                                                        _ngcontent-xmy-c9="" class="check"></span>
                                                </span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label
                                        class="col-md-4  mb-0 " >From</label>
                                    <div
                                        class="col-md-8 "
                                        >
                                        <input [matDatepicker]="dp1" placeholder="" name="Search_FromDate"
                                            [(ngModel)]="Search_FromDate" >
                                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <label
                                        class="col-md-4  mb-0 "  >TO</label>
                                    <div
                                        class="col-md-8 "
                                        >
                                        <input [matDatepicker]="dp2" name="Search_ToDate" placeholder=""
                                            [(ngModel)]="Search_ToDate" >
                                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                        <mat-datepicker #dp2></mat-datepicker>
                                    </div>
                                </div>                               
                                
                                <div class="col-md-3 row" style="align-items: center; justify-content: center;">
                                    <button mat-raised-button type="button" class=" mt-0  mb-0  btn btn-danger pull-right"
                                        (click)="Print_Search_Click()">
                                        <i class="fa fa-print" aria-hidden="true"></i></button>
                                    <button mat-raised-button type="button" (click)="Create_New()"
                                        class="btn btn-danger mt-0  mb-0 pull-right change-colour-button button-to-crect-margin ">
                                        <i class="fa fa-plus" aria-hidden="true"></i></button>
                                    <button mat-raised-button type="button" (click)="Search_Stock_Add()"
                                        class="btn btn-danger mt-0  mb-0 pull-right change-colour-button button-to-crect-margin ">
                                        <i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                          
                            <div class="clearfix"></div>
                 
                 
               
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-body">
                        <div class="table-responsive tble-rspnsv-sls-mstr-tbls">
                            <cdk-virtual-scroll-viewport [style.height.px]="myInnerHeight" itemSize="90">
                                <table class="table table-hover">
                                    <thead class="thead">
                                        <th> Sl No </th>
                                        <th> Description</th>                                       
                                        <th> Date </th>                                        
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </thead>
                                    <ng-container
                                        *cdkVirtualFor="let Sales_Master of Stock_Add_Master_Data; let i =index">
                                        <tr>
                                            <td style="padding-left:5px;">{{ i+1 }}</td>
                                            <td>{{Sales_Master["Description"]}}</td>
                                            <td>{{Sales_Master["FormattedEntryDate"]}}</td>
                                            <td>
                                                <button _ngcontent-jry-c5="" _ngcontent-gxp-c5=""
                                                    [hidden]="StockAdd_Edit==false"
                                                    aria-describedby="cdk-describedby-message-0" cdk-describedby-host=""
                                                    class="aligyn-crect-deprtnment btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button"
                                                    mat-raised-button="" mattooltip="Edit Task"
                                                    ng-reflect-message="Edit Task" ng-reflect-position="above"
                                                    type="button"><span class="mat-button-wrapper"><span
                                                            _ngcontent-jry-c5="" class="mat-button-wrapper">
                                                            <i _ngcontent-jry-c5="" _ngcontent-gxp-c5=""
                                                                class="material-icons"
                                                                (click)="Edit_AddStock_Master(Sales_Master,i)">edit</i></span>
                                                        <div _ngcontent-jry-c5="" class="mat-button-ripple mat-ripple"
                                                            matripple="" ng-reflect-centered="false"
                                                            ng-reflect-disabled="false"
                                                            ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                                        <div _ngcontent-jry-c5="" class="mat-button-focus-overlay">
                                                        </div>
                                                    </span>
                                                    <div class="mat-button-ripple mat-ripple" matripple=""
                                                        ng-reflect-centered="false" ng-reflect-disabled="false"
                                                        ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                            </td>
                                            <td>
                                                <button _ngcontent-gdi-c11="" [hidden]="StockAdd_Delete==false"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon mat-raised-button"
                                                    mat-raised-button="" mattooltip="Remove" type="button"
                                                    aria-describedby="cdk-describedby-message-1" cdk-describedby-host=""
                                                    ng-reflect-position="above" ng-reflect-message="Remove"><span
                                                        class="mat-button-wrapper"><i _ngcontent-gdi-c11=""
                                                            class="material-icons"
                                                            (click)="Delete_AddStock_Master(Sales_Master.Stock_Add_Master_Id,i)">close</i></span>
                                                    <div class="mat-button-ripple mat-ripple" matripple=""
                                                        ng-reflect-centered="false" ng-reflect-disabled="false"
                                                        ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                            </td>
                                            
                                        </tr>
                                    </ng-container>
                                </table>
                            </cdk-virtual-scroll-viewport>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="entry-num">Entries : {{Total_Entries}}</label>
                        &nbsp;&nbsp;&nbsp;&nbsp; <label class="entry-num">Total:
                            {{Quotation_Master_Total_Amount}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="Entry_View">
            <div class="container-fluid" #topDiv>
                <div class="col-md-6 croct-float-purchase-master-section ">
                  
                    
                    <div class="col-md-12 wole-div-margin-to-down-proper mb-1">
                        <label
                            class="col-md-4 label-to-crect-all-names-to-divs down-label-name-to-all-sections">Description
                            </label>
                        <input type="text" name="Description" [(ngModel)]="Stock_Add_Master_.Description"
                            class="col-md-8 mrgn-crct-input-text-div-tre-prt-sles1 mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn">
                    </div>
                  
                </div>
                <div class="col-md-6 croct-float-purchase-master-section">
                    <div class="col-md-12 mb-1">
                        <label
                            class="col-md-4 label-to-crect-all-names-to-divs down-label-name-to-all-sections">Date
                            <span
                            style="color:#ef071e; ">*</span></label>
                        <div
                            class="col-md-8 mrgn-crct-input-text-div-tre-prt-sles1 mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn"
                            >
                            <input [matDatepicker]="dpdate" placeholder="" name="EntryDate"
                                [(ngModel)]="Stock_Add_Master_.EntryDate" >
                            <mat-datepicker-toggle matSuffix [for]="dpdate" ></mat-datepicker-toggle>
                            <mat-datepicker #dpdate></mat-datepicker>
                        </div>
                    </div>                    
               
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2 mb-2">
                                            <label class="mb-1" style="font-size: 11px; font-weight: 700; color: #6b7280; text-transform: uppercase;">Part Number
                                                <span
                                                style="color:#ef071e; ">*</span>
                                            </label>
                                            <input type="text" id="Barcode_n" name="Barcode_n" [matAutocomplete]="auto42"
                                                 [(ngModel)]="Barcode_"
                                                (click)="Get_Stock_Item_Code_Typeahead($event)"
                                                (input)="Get_Stock_Item_Code_Typeahead($event)" 
                                                (keyup.enter)="Plus_Stock_Add_Details($event)"
                                                class=" for-input-selct-tblelst mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn ng-pristine ng-valid ng-touched" />
                                            <mat-autocomplete #auto42="matAutocomplete" [displayWith]="display_ItemCode" >
                                                <mat-option *ngIf="isLoading"><mat-spinner
                                                        diameter="20"></mat-spinner></mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let Item of ItemCodeData; let i = index"
                                                        [value]="Item">
                                                        <span> <div (click)="Barcode_Change(Item)">{{Item.Item_Code}} - {{Item.ItemName}} </div></span>
                                                  </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </div>
                                        <div class="col-md-2 mb-2">
                                            <label class="mb-1" style="font-size: 11px; font-weight: 700; color: #6b7280; text-transform: uppercase;">Description  
                                                </label>
                                            <input type="text" [matAutocomplete]="auto1" [(ngModel)]="Item_"
                                            (keyup.enter)="Plus_Stock_Add_Details($event)"
                                                name="Item" (click)="Search_PurchaseItem_Typeahead($event)"
                                                (input)="Search_PurchaseItem_Typeahead($event)" 
                                                
                                                class=" for-input-selct-tblelst mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn" />
                                            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="display_Item">
                                                <mat-option *ngIf="isLoading"><mat-spinner
                                                        diameter="20"></mat-spinner></mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option 
                                                        *ngFor="let Itemstock of Stock_Data" [value]="Itemstock">
                                                        <span
                                                            (click)="Item_Name_Change(Itemstock)">{{Itemstock.ItemName}}-{{Itemstock.Quantity}}</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </div>
                                        <div class="col-md-2 mb-2">
                                            <label class="mb-1" style="font-size: 11px; font-weight: 700; color: #6b7280; text-transform: uppercase;">Uom</label>
                                            <input type="text" [(ngModel)]="Stock_Add_Details_.UnitName"
                                            (keyup.enter)="Plus_Stock_Add_Details($event)"
                                                 id="Stock_Add_Details_.UnitName"
                                                name="Stock_Add_Details_.UnitName"
                                                
                                                class=" for-input-selct-tblelst mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn ng-pristine ng-valid" />
                                        </div>
                                        <div class="col-md-2 mb-2">
                                            <label class="mb-1" style="font-size: 11px; font-weight: 700; color: #6b7280; text-transform: uppercase;">Qty
                                                <span
                                                style="color:#ef071e; ">*</span></label>
                                            <input type="number" [(ngModel)]="Stock_Add_Details_.Quantity" (ngModelChange)="Calculate_Total_Amount()"
                                            (keyup.enter)="Plus_Stock_Add_Details($event)"
                                                 id="Stock_Add_Details_.Quantity"  name="Stock_Add_Details_.Quantity"
                                                class=" for-input-selct-tblelst mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn ng-pristine ng-valid" />
                                        </div>

                                        <div class="col-md-2 mb-2">
                                        <label class="mb-1" style="font-size: 11px; font-weight: 700; color: #6b7280; text-transform: uppercase;"> Purchase
                                            Rate</label>
                                        <input type="number" [(ngModel)]="Stock_Add_Details_.Purchase_Rate" (ngModelChange)="Calculate_Total_Amount()"
                                        (keyup.enter)="Plus_Stock_Add_Details($event)"
                                             id="Stock_Add_Details_.Purchase_Rate" name="Stock_Add_Details_.Purchase_Rate"
                                            class=" for-input-selct-tblelst mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn ng-pristine ng-valid" />
                                    </div>

                                        <div class="col-md-2 mb-2">
                                            <label class="mb-1" style="font-size: 11px; font-weight: 700; color: #6b7280; text-transform: uppercase;">Sales Rate
                                               
                                                <span
                                                style="color:#ef071e; ">*</span></label>
                                            <input type="number" [(ngModel)]="Stock_Add_Details_.SaleRate"
                                            (keyup.enter)="Plus_Stock_Add_Details($event)"
                                                 id="Stock_Add_Details_.SaleRate"  name="Stock_Add_Details_.SaleRate"
                                                class=" for-input-selct-tblelst mrgn-crct-input-bx-sls-mstr-rspnsv-nw-sctn ng-pristine ng-valid" />
                                        </div>                                       
                                        
                                        <div
                                        class="col-md-12 alighn-right-inputs-sales-grid div-to-down-margin-crect-allighn-wole-scton" style="display: flex; justify-content: end; align-items: end;">
                                        <button mat-raised-button type="button" (click)="Plus_Stock_Add_Details($event)"
                                            class="btn btn-danger" >
                                            Add</button>
                                    </div>                                       
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-for-sale-search-section-diary">
                                                    <thead class="bg-col-stock-add-diary">
                                                        <th>No</th>
                                                        <th>Part Number</th>
                                                        <th>Item & Description </th>
                                                        <th>Uom</th>
                                                        <th>Qty</th>
                                                        <th>Purchase rate</th>
                                                        <th>Sales Rate</th>
                                                       
                                                        <th></th>
                                                    </thead>
                                                    <tbody class="bk_tb_bg"
                                                        *ngFor="let Sales_Details of Stock_Add_Details_Data; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>{{Sales_Details["Item_Code"]}}</td>
                                                        <td>{{Sales_Details["ItemName"]}}</td>
                                                        <td>{{Sales_Details["UnitName"]}}</td>
                                                        <td>{{Sales_Details["Quantity"]  | number: '1.3-3'}}</td>
                                                        <td>{{Sales_Details["Purchase_Rate"]  | number: '1.3-3'}}</td>
                                                        <td>{{Sales_Details["SaleRate"]  | number: '1.3-3' }}</td>
                                                        
                                                        <td>
                                                            <button _ngcontent-jry-c5="" _ngcontent-gxp-c5=""
                                                                [hidden]="StockAdd_Edit==false"
                                                                aria-describedby="cdk-describedby-message-0" cdk-describedby-host=""
                                                                class="aligyn-crect-deprtnment btn btn-primary btn-link btn-sm btn-just-icon mat-raised-button"
                                                                mat-raised-button="" mattooltip="Edit Task"
                                                                ng-reflect-message="Edit Task" ng-reflect-position="above"
                                                                type="button"><span class="mat-button-wrapper"><span
                                                                        _ngcontent-jry-c5="" class="mat-button-wrapper">
                                                                        <i _ngcontent-jry-c5="" _ngcontent-gxp-c5=""
                                                                            class="material-icons"
                                                                            (click)="Edit_AddStock_Detail(Sales_Details,i)">edit</i></span>
                                                                    <div _ngcontent-jry-c5="" class="mat-button-ripple mat-ripple"
                                                                        matripple="" ng-reflect-centered="false"
                                                                        ng-reflect-disabled="false"
                                                                        ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                                                    <div _ngcontent-jry-c5="" class="mat-button-focus-overlay">
                                                                    </div>
                                                                </span>
                                                                <div class="mat-button-ripple mat-ripple" matripple=""
                                                                    ng-reflect-centered="false" ng-reflect-disabled="false"
                                                                    ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                                                <div class="mat-button-focus-overlay"></div>
                                                            </button>
                                                        
                                                            <button _ngcontent-gdi-c11="" [hidden]="StockAdd_Delete==false"
                                                                class="btn btn-danger btn-link btn-sm btn-just-icon mat-raised-button"
                                                                mat-raised-button="" mattooltip="Remove" type="button"
                                                                aria-describedby="cdk-describedby-message-1" cdk-describedby-host=""
                                                                ng-reflect-position="above" ng-reflect-message="Remove"><span
                                                                    class="mat-button-wrapper"><i _ngcontent-gdi-c11=""
                                                                        class="material-icons"
                                                                        (click)="Delete_AddStock_Detail(i)">close</i></span>
                                                                <div class="mat-button-ripple mat-ripple" matripple=""
                                                                    ng-reflect-centered="false" ng-reflect-disabled="false"
                                                                    ng-reflect-trigger="[object HTMLButtonElement]"></div>
                                                                <div class="mat-button-focus-overlay"></div>
                                                            </button>
                                                        </td>                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-md-12">                                   
                                    <button mat-raised-button type="button" id="Save_Button" [hidden]="StockAdd_Save==false"
                                        class="btn btn-danger div-rspnsv-pstn-crct-sls-mstr"
                                        (click)="Save_AddStock(0)">Save</button>
                                    <button mat-raised-button type="button"
                                        class="btn btn-danger div-rspnsv-pstn-crct-sls-mstr"
                                        (click)="Close_Click();">Close</button>
                                   </div>                                
                                <div class="clearfix"></div>                            
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>

